<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projet.tony.tx" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.Camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Page_menu"
            android:label="@string/title_activity_page_menu"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CameraActivity"
            android:label="@string/title_activity_camera"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Activity_JSON"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Apropos"
            android:label="@string/title_activity_apropos" >
        </activity>
        <activity
            android:name=".creation_mode.creation"
            android:label="@string/title_activity_creation" >
        </activity>
        <activity
            android:name=".creation_mode.Ajout_question"
            android:label="@string/title_activity_ajout_question" >
        </activity>
        <activity
            android:name=".Selection_histoire"
            android:label="@string/title_activity_selection_histoire" >
        </activity>
        <activity
            android:name=".Jeu"
            android:label="@string/title_activity_jeu" >
        </activity>
        <activity
            android:name=".Partie"
            android:label="@string/title_activity_partie" >
        </activity>
    </application>

</manifest>
